body{
  padding: 0px;
  margin: 0px;
}
.headerlogo
{
  max-height: 70px;
  max-width: 70px;
}
.video 
{
  margin-right: 100px;
  margin-left: 20px;
  padding-top: 15px;
  font-size: 40px;
  font-family: Courier New;
}
.navbar-nav li
{
  margin: auto 30px auto 30px;
  font-size: 18px;
  font-family: Courier New;
  
}

.navbar-nav li a
{
  color: black;

}
li a:hover
{
  background-color: #99ffd6;
  font-size: 20px;
}
.header_button
{
  margin: auto 20px auto 20px;
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  color: chartreuse;

}


.btn-lightgreen
{
  background-color: #99ffd6 !important;
  color: green;
}

.btn-dark
{
  background-color: black !important;
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  padding-right: 90px;
  margin-right: 30px;

}



.bodypart
{
  text-align: center;
  padding-top: 20px;
  font-weight: 300px;
}

.carouselslide
{
  margin-top: 20px;
}

img
{
  max-width: 500px;
  max-height: 600px;
}

.scroll-bg
{

  margin: 10px ;

}

.square
{

  background-color:black;
  border: 5px solid black ;
  padding: 25px;
  border-radius: 50px;
}

.scroll-div
{
  margin-top: 5px;
  /*width: 550px;*/
  height: 500px;
  overflow:hidden;
  overflow-y: scroll;
  background-color:whitesmoke;/*#99ffd6*/
}
.scroll-object
{
  padding-top: 10px;
  color: #222222;
  font-family: 'Courier New', Courier, monospace;
}



/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right: 0;
  border: 3px solid #f1f1f1;
  z-index: 9;
  background-color: #00000055;
  font-family:'Courier New', Courier, monospace
}

/* Add styles to the form container */
.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 400px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button   */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}


/*------------------Option.html--------------*/

.btn-div{
  margin-left: 150px;
  margin-top: 150px;


  font-family: 'Courier New', Courier, monospace;
}
#room-id{
  margin-left: 5px;

  font-family: 'Courier New', Courier, monospace;
}
.btn-div1{
  height: 450px;
  width: 500px;
  margin-left: 80px;
  margin-top: 50px;
}

/*sdjhfisdhfjlksdhfjsdjkf*/
#meeting{
  position: relative;
  display: none;
  height: 100vh;
  width: 100vw;
  background-color: #222;
  overflow: hidden;
}
#show-msg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100vw;
  text-align: center;
  z-index: 11;
  color: #fff;
}
#copy-meeting-id{
  display: flex;
}
#meeting-id{
  width: 80px;
  height: 30px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  padding: 5px;
  background: #fff5;
  color: #fff;
  outline: none;
}
.copy-meeting-id button i{
  color:#fff;
  font-size: 20px;
}
#navbar{
  height: 70px;
  box-shadow: 5px 0px 10px 0 rgba(0,0,0,0.2);
}
#main{
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.cover{
  flex: 4;
}
.hero{
  flex: 3;
  margin-left: 100px;
  margin-right: 100px;
}
.hero h1{
  text-align: center;
}
.hero p{
  color: #6a6e74;
  text-align: center;
}
.cover img{
  width: 100%;
  height: 100%;
}
.btn{
  color: #fff;
  background: #6884CD;
  padding: 2px 16px 0px 12px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-weight: 500;
  line-height: 35px;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.4);
}
button:hover{
  cursor: pointer;
}
input[type="text"]{
  padding-left: 20px;
  height: 36px;
  line-height: 24px;
  border-radius: 4px;
  border:1px solid #dadce0;
}
#create-room{
  min-width: 150px;
  margin: 20px;
}
#create-room svg{
  position: relative;
  top: 6px;
  height: 22px;
  width: 22px;
  fill: #fff;
  padding-right: 5px;
}
.btn-div{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.join{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer{

  position: relative;
  bottom: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer p{
  text-align: center;
}
footer .social-icon a{
  margin: 10px;
}
footer .social-icon a i{
  color: #6884CD;
  font-size: 35px;
}
.fa-heart{
  color:red;
}
footer p:nth-child(3){
  margin:0;
  margin-bottom: 10px;
}

#self-video{
  overflow: hidden;
  border-radius: 5px;
  position: absolute;
  top:0;
  left: 0;
  min-width: 120px;
  width: 150px;
  max-width: 200px;
  min-height: 120px;
  height: 150px;
  max-height: 200px;
  z-index: 10;
  object-fit: contain !important;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}
#remote-video{
  position: fixed;
  top:0;
  left:0;
  height: 100vh;
  width: 100vw;
  object-fit: contain!important;
}
button{
  background: transparent;
  border: none;
}
.call-button{
  position: absolute;
  bottom: 20px;
  left:50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}
.call-button i{
  margin: 10px;
  padding: 20px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #fffc;
  color: #fff;
}
.call-button button:nth-child(3) i{
  background: red;
  color:#fff;
  border: none;
}
.call-button a img{
  width: 32px;
}


@keyframes fade-in{
  0%{ opacity: 0;}
  100%{opacity: 1;}
}
@keyframes fade-out{
  0%{ opacity: 1;}
  100%{opacity: 0;}
}
.fadeout{
  animation: fade-out 1s forwards;
}
.chat-container{
  display: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 450px;
  width: 300px;
  background: #EDF0F5;
  border-radius: 10px;
  animation: fade-in 1s forwards;
  z-index: 12;
}
.chat-wrapper{
  height: 350px;
  padding: 0px 20px;
  overflow-y: scroll;
}
.chat-header{
  font-size: 18px;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
  margin:0;
  padding:10px;
}
.remote-msg span{
  color: #222;
  text-align: left;
  background: #fff;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  border-top-left-radius: 0px;
}
.self-msg{
  text-align: right;
}
.self-msg span{
  display: inline-block;
  color: #222;
  text-align: right;
  background: #D0D3E3;
  padding: 5px 10px;
  border-radius: 5px;
  border-bottom-right-radius: 0px;
  display: inline-block;
}
.remote-msg span,.self-msg span{
  color: #222;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
}
.msg-btn{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.send-msg{
  background: #6884CD;
  border-radius: 5px;
  padding: 10px 15px;
}
.send-msg i{
  color: #fff;
}
.msg{
  border: none;
}
input[type="text"]{
  border: none;
  box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.2)
}
input[type="text"]:focus{
  border: none;
  outline: none;
}


@media screen and (max-width:800px){
  #main{
    display: block;
  }
  .hero{
    flex: 3;
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media screen and (max-width:550px){
  .chat-container{
    top: 10%;
    transform: translateY(-10%);
  }

  .call-button i{
    margin: 5px;
    padding: 15px;
  }
  #self-video{
    min-width: 80px;
    width: 100px;
    max-width: 140px;
    min-height: 80px;
    height: 100px;
    max-height: 140px;

  }
}





/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #000000;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-family: 'Courier New', Courier, monospace;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #eeeeee;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

/*---------------------meet.html--------------------------*/

